.headerWrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    background-image: url('/Users/hollyfigenshu/Desktop/Web Work/code/figportfolio2/src/imageAssets/header.jpg');
    background-size: cover;
    position: relative;
    flex-direction: column;
    background-position-y: -4vh;
    background-repeat: no-repeat;
    background-color:#170910;
}

.sparkles {
    height: 100vh;
    width: 100%;
    background-image: url('/Users/hollyfigenshu/Desktop/Web Work/code/figportfolio2/src/imageAssets/sparkles.PNG');
    position: absolute;
    background-size: cover;
    z-index: 10;
    top:20vh;
}

.headerTop {
    display:flex;
    flex-direction: row;
    height: 100vh;
}

.headerLeft {
    display:flex;
    flex:1.5;
    justify-content: center;
    align-items: center;
}

.headerCopyWrapper {
    margin:15vh 0px 0px 0px;
    padding:2em;
    display:flex;
    flex-direction: column;
    color:#fff;
    justify-content: center;
    align-items: center;
}

.signature {
    width: 70%;
    padding:0px 0px 1em 0px;
}

.headerInfo {
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.headerRight {
    display: flex;
    flex:2;
}

.headerBottom {
    /* background-image: linear-gradient(180deg, #170910 0%, #170910 100%);
    background: -webkit-linear-gradient(180deg, #170910 0%, #170910 100%); */
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(23, 9, 16, 1));
    background: -webkit-linear-gradient(to bottom, rgba(255,0,0,0), rgba(23, 9, 16, 1));
    height:20vh;
    width: 100%;
}

@media only screen and (max-width: 1024px) {

    .headerWrapper {
        background-position: center;
    }

    .signature {
        width: 60%;
    }

    .headerRight {
        flex:0;
    }
}

@media only screen and (max-width:768px) {
    .headerBottom {
        background-image: linear-gradient(180deg, #170910 0%, #170910 100%);
        background: -webkit-linear-gradient(180deg, #170910 0%, #170910 100%);
    }
}

@media only screen and (max-width:570px) {

    .headerCopyWrapper {
        margin: 0vh 0px 0px 0px;
        padding:.5em;
    }

    .signature {
        width: 80%;
    }

    .headerInfo {
        font-size: .6rem;
    }

}

@media only screen and (max-width:375px) {

    .headerInfo {
        font-size: .5rem;
    }
}